
*{
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
}
#colurtextsection{
    margin: 0;
    padding: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h1{
    position: relative;
    text-transform: uppercase;
    font-size: 160px;
    white-space: nowrap;
    color: #fff;
    letter-spacing: 10px;
    color: transparent;
}
h1::before{
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   letter-spacing: 10px;
   border-right: 1px solid #fff;
   white-space:  nowrap;
   overflow: hidden;
   background: linear-gradient( to right,rgb(9, 179, 145),rgb(218, 92, 7),rgb(66, 12, 142),rgb(22, 75, 2),#41d30c);
   background-clip: text;
   color: transparent;
   animation: type 6s steps(11) infinite ;
   -webkit-animation: type 6s steps(11) infinite ;
}
h1::after{
 content: attr(data-text);
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 letter-spacing: 10px;
 border-right: 1px solid #fff;
 white-space:  nowrap;
 overflow: hidden;
 background: linear-gradient( to right,#f00,#ff0,#0ff,#0f0,#ffc880);
 background-clip: text;
 color: transparent;
 animation: type 6s steps(11) infinite ;
 animation: type 6s steps(11) infinite ;
 filter: blur(60px);
 -webkit-animation: type 6s steps(11) infinite ;
 -webkit-filter: blur(60px);
}
@keyframes type {
    0%{
width: 0;
    }
    70%{
        width: 100%;
            }
            90%{
                width: 100%;
                    }
                    100%{
                        width: 0;
                            }

                            
}